<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Sate%20Taichan%20Lilit/
    
    # Redirect ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]
</IfModule>
